<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url( <%= asset_url 'login.jpg' %> );">
  <div class="container">
    <h1>RaB helps you to find <span class="wow">fucking big</span> boats</h1>
    <p>Impress your friend with amazing instagram photos</p>
  </div>
</div>
