<div class='fullscreen-form
  d-flex
  text-center
  align-items-center
  justify-content-center'
  style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
  url( <%= asset_url 'new_boat.jpg' %> );">

  <div class="large-input background-input rounded mt-5">
    <%= render 'form' %>
  </div>
</div>
